/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --page-bg-image: url("../images/cover-image-light.png");
  --page-bg-color: #fff0f5;
  --shadow-color: #ff8dcb;
  --headline-color: #ffc2e6;
  --text-color: #353430;
  --title-color: #353430;
  --decor-bg-color: #ff8dcb;
  --title-decor-color: #353430;
  --page-bg-color: #fff0f5;
  --accent-color: #353430;
}
