/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--page-bg-image);
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--page-bg-color);
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  align-items: start;
  justify-items: start;
  position: relative;
  padding-inline: 10px;
  padding-block-start: 10px;
}

.header__theme-menu {
  grid-row: 1 / 2;
  justify-self: end;
  align-self: start;
  margin-block-start: 61px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11.5px;
  align-items: flex-end;
}

.header__theme-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0.9;
  padding: 4px 13px;
  border: 1px solid transparent;
  background: none;
  color: var(--accent-color);
  font-family: var(--font), monospace;
  font-size: var(--font-size);
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-border);
}

.header__theme-menu-button:focus {
  outline: none;
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__title {
  grid-row: 2 / 3;
  justify-self: start;
  align-self: center;
  margin-block-start: -11px;
  font-family: var(--font), monospace;
  font-weight: bold;
  font-size: var(--logo-size);
  line-height: 82.5%;
  letter-spacing: 0;
  color: var(--headline-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.header__subtitle {
  grid-row: 3 / 4;
  justify-self: start;
  align-self: start;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: 0;
  margin-block-start: 36px;
}

.title-decor {
  background-color: var(--decor-bg-color);
  color: var(--title-decor-color);
}

.header__rec {
  font-family: var(--font), monospace;
  font-size: var(--font-size);
  font-weight: normal;
  color: var(--accent-color);
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 19px;
}

.theme-light .header__rec {
  display: none;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-inline-start: 10px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 6px 2px var(--accent-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--accent-color);
}

.decorated-zone::before {
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-inline-start: none;
  border-block-end: none;
}

.decorated-zone::after {
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-inline-end: none;
  border-block-start: none;
}

.content {
  display: grid;
  gap: 50px;
  padding-inline: 10px;
  padding-block: 40px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__title,
.section__lead {
  font-weight: bold;
  font-size: var(--font-size);
  line-height: 23.4px;
  font-family: var(--font), monospace;
}

.section__title {
  color: var(--accent-color);
}

.cards {
  display: grid;
  gap: 20px;
}

.card {
  display: grid;
  gap: 10px;
}

.card__title {
  font-weight: bold;
  font-size: var(--font-size);
  line-height: 23.4px;
  font-family: var(--font), monospace;
}

.card__subtitle {
  font-weight: normal;
  font-size: var(--font-size);
  line-height: 23.4px;
  font-family: var(--font), monospace;
}

.card__text {
  color: var(--text-color);
  font-weight: normal;
  font-size: var(--font-size);
  line-height: 23.4px;
  font-family: var(--font), monospace;
}

.text__link {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--shadow-color);
}

.text__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.text__link:focus {
  outline: none;
}

.text__link:focus-visible {
  border: 1px solid var(--text-color);
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__item {
  margin: 0;
  width: 100%;
}

.gallery__title {
  font-weight: bold;
  font-size: var(--font-size);
  line-height: 23.4px;
  font-family: var(--font), monospace;
  margin: 0;
  margin-block-end: 10px;
}

.gallery__item img {
  display: block;
  inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  background: #000;
  margin: 0;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  place-items: center;
  position: relative;
}

.footer__title {
  font-family: var(--font), monospace;
  font-weight: bold;
  font-size: var(--logo-size);
  line-height: 82.5%;
  color: var(--headline-color);
  text-shadow: 2px 2px 0 var(--shadow-color);
  margin: 0;
}

@media (width >= 768px) {
  :root {
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    grid-template-columns: 1fr 1fr;
    font-size: var(--logo-size);
    padding-inline-end: 20px;
    padding-inline-start: 20px;
  }

  .header__theme-menu {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: start;
    margin-block-start: 177px;
  }

  .header__title {
    white-space: nowrap;
    grid-column: 1 / 3;
    align-items: end;
    margin-inline-start: -20px;
  }

  .header__subtitle {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin-block-start: 38px;
  }

  .header__rec {
    inset-block-start: 20px;
    inset-inline-end: 29px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .content {
    gap: 80px;
    padding-inline: 20px;
    padding-block: 60px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .cards--lowers {
    grid-column: 1 / 3;
  }

  .section__lead {
    height: fit-content;
  }

  .cards--stack {
    grid-column: 2;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto-fit);
    gap: 20px;
  }

  .gallery__item-sunset {
    grid-column: 1 / 3;
  }

  .gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .gallery__item-ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__item-tape {
    grid-row: 2 / 4;
  }

  .gallery__item-books {
    grid-row: 2;
    grid-column: 2;
  }

  .gallery__item-street {
    grid-column: 2 / 4;
  }

  .gallery__title {
    margin-block-end: 20px;
  }
  .footer__title {
    font-size: var(--logo-size);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: start;
    margin-block-start: 10px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .header__subtitle {
    margin-block-start: 47px;
  }

  .cards--lowers {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }

  .section--why,
  .section--tips {
    gap: 10px;
  }
}
